html {
    font-family: 'Computer Modern Concrete', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, .8);
    line-height:1.65
}

@media screen and (min-width: 58em) {
    html {
        font-size:18px
    }
}

body {
    font-family: inherit;
    font-size: 1rem;
    line-height: inherit;
    color: inherit;
    background-color: #fff;
    margin-top: 36px;
    padding-top: 0;
    counter-reset:captions
}

@media screen and (max-width: 1200px) {
    body {
        margin-top:36px
    }
}

.container {
    max-width: 768px;
    margin-top: 10px;
    min-height: 100%;
}

a {
  text-decoration: none;
  color:black;
}

.toprightindex {
  text-align: right;
  margin-top: -10px;
  font-size: 16px;
  font-family: "Computer Modern Serif", sans-serif;
}

.toprightindex a:hover {
  text-decoration: none;
  border-bottom: 1px solid #333333;
}

.mathpost-header {
  margin-top: -18px;
}

@media screen and (max-width: 1024px) {
  .mathpost-header {
    margin-top: -8px;
  }

  .toprightindex {
    text-align: right;
    margin-top: -19px;
    font-family: "Computer Modern Serif", sans-serif;
  }
}

.leadingdot {
  text-align: right;
  margin-top: -10px;
}

.leadingdot::before{
  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}

@media screen and (max-width: 1024px) {
  .leadingdot::before{
    content: ". . . . . . . . . . . . . .";
  }
}

.mathpost-content {
  padding-top: 19px;
  text-align: justify;
}

.allpostlist {
  padding-top:10px;
}

.allpostlist ul {
  list-style-type: none;
  padding: 0;
}

.pageindex {
  padding-top:15px;
  padding-bottom:40px;
}

.pageindex a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.pageindex a:hover {
  background-color: #ddd;
  color: black;
}

.endingnotation {
  padding-bottom: 36px;
  text-align: center;
}

.endingnotation a {
  text-decoration: none;
  display: inline-block;
  padding: 0px 10px;
}

.endingnotation a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  float: left;
}

.next {
  background-color: #f1f1f1;
  color: black;
  float: right;
}

.round {
  border-radius: 60%;
}

.theorembox {
  border:1.5px;
  border-style:dashed;
  border-color:#333333;
  border-radius: 18px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
}
